<!DOCTYPE html>
<html lang="es">
<!-- Include Head -->
<%- include('./partials/head.ejs') %>

<body>
	<!-- Header -->
	<% if (locals.nombre!=undefined) { %>
		<%- include('./partials/headerLogueado.ejs')%>
	<%} else { %>
		<%- include('./partials/header.ejs')%>
	<% } %>
	
	<!-- /Header -->
	
	<!-- Banner -->
	<div class="banner">
		<img src="/images/portada-banner3.png" alt="Banner de bienvenida">
	</div>
	<!-- /Banner -->

	<!-- Novedades -->
	<div class="container products-wrapper">
		<div class="row">
			<div class="col-12">
				<h2 class="products-title">Novedades</h2>
			</div>
			<!-- Show the "ultimos" products -->
			
			<!-- tiene que mostrar minimo 4-->
			<% for(i=0; i < productos.length; i++){ %>
				<div class="col-12 col-sm-6 col-lg-3 product">
					<section class="product-box">
						<a href="/product/<%=productos[i].id %>">
							<figure class="product-box_image">
								<img src="/images/products/<%= productos[i].img_url %>" alt="producto">
							</figure>
							<article class="product-box_data">
								<h2><%= productos[i].nombre_producto %></h2><br>
								<ul>
									<li> Marca: <%= productos[i].marca %></li> 
									<li> Creado por: <a href="/users/profile/<%=productos[i].usuarioCreadores.id%>"><%= productos[i].usuarioCreadores.nombre_usuario %></a></li>
									<li><%= productos[i].descripcion %></li>
									<li>Comentarios: <%=productos[i].comentarios.length%></li>
								</ul>
							</article>
						</a>
					</section>
				</div>
			<% } %>
		</div>
	</div>
	<!-- /Novedades -->
	<!-- Más comentados -->
	<div class="container products-wrapper">
		<div class="row">
			<div class="col-12">
				<h2 class="products-title">Más comentados</h2>
			</div>
			
			<% for(i=0;i < productosComentados.length; i++){%>
			<div class="col-12 col-sm-6 col-lg-3 product">
				<section class="product-box">
					<a href="/product/<%=productosComentados[i].id%>">
						<figure class="product-box_image">
							
							<img src="/images/products/<%= productosComentados[i].img_url %>" alt="producto">
						</figure>
						<article class="product-box_data">
							<h2><%= productosComentados[i].nombre_producto%></h2><br>
							<ul>
								<li> Marca: <%= productosComentados[i].marca %></li> 
								<li><%= productosComentados[i].descripcion %></li>
								<li>Comentarios: <%=productosComentados[i].get("comentariosCount")%></li>
							</ul>
						</article>
					</a>
				</section>
			</div>
			<% } %>
			
		</div>
	</div>
	<!-- /Más comentados -->


	<!-- footer -->
	<%- include('./partials/footer.ejs')  %> 
	<!-- /footer -->
</body>	
</html>