<!DOCTYPE html>
<html lang="es">
<!-- Include Head -->

<%- include('./partials/head.ejs') %>

<body>
	<!-- Header -->
	<% if (locals.nombre!=undefined) { %>
		<%- include('./partials/headerLogueado.ejs')%>
	<%} else { %>
		<%- include('./partials/header.ejs')%>
	<% } %>
	<!-- /Header -->

	<!-- Novedades -->
	<div class="container products-wrapper login-main">
		<div class="row">
			<div class="col-12">
				<h2 class="products-title">Ingresar</h2>
				<% if(locals.errors){ %>
					<p class="alert" > <%= errors.login %><p>
				<% } %>
			</div>
			<!-- Show the "ultimos" products -->
			<form method="POST" action="/users/login">
				<div class= "mb-3">
				<label  for="Usuario">Email:</label><br> 
					<input type="text" id="usuario" name="email"><br> </div>
					<div class= "mb-3">
					<label for="contrase単a">Contrase単a:</label><br>
					<input type="password" id="contrase単a" name="contrase単a"><br> </div>
					<label for="">Recordame</label>
					<input type="checkbox" name="recordame">
					<button type="submit" value="Registrarse" class="btn btn-primary">Submit</button>
			</form>
			</div>
		</div>


	<!-- footer -->
	<%- include('./partials/footer.ejs')  %> 
	<!-- /footer -->
</body>

</html>