<!DOCTYPE html>
<html lang="es">
<!-- Include Head -->
<%- include('./partials/head.ejs') %>

<body>
	<!-- Header -->
	
	<!-- /Header -->
	<%- include('./partials/header.ejs')  %> 
	<!-- product detail -->
	<div class="container products-wrapper">
		<div class="d-flex align-items-center">
			<h2 class="products-title"><%=productos[0].nombre%></h2> 
			<p class="product-detail-description">
				<a href="/users/editproducts/<%= productos[0].id %>">Editar</a>
			</p>
		</div>
		<div class="product-detail">
			<div class="row">
				<article class="col-12 col-lg-8 product-detail-info">
					<img src=<%= productos[0].img %> alt="" class="product-detail-img">
					<p class="product-detail-description"><%= productos[0].descripcion%></p>
				</article>
				<div class="col-12 col-lg-4">
					<section class="comments">

						<% for(i=0; i < productos[0].comentariosUsuario.length; i++){ %>
							<article>
								<img src=<%=productos[0].comentariosUsuario[i].usuarios.img_src%> alt="">
								<div class="data">
									<p class="user">
									<strong> <a href="/users/<%=productos[0].comentariosUsuario[i].usuarios.id%>"><%=productos[0].comentariosUsuario[i].usuarios.usuario%> </a> </strong>
									<%=productos[0].comentariosUsuario[i].texto%></p>
								</div>
							</article>
						<% } %>

					</section>
					<form class="form agregar" action="" method="GET">
						<input class="form-input" type="text" value="" placeholder="Agregar comentario">
						<button type="submit" class="buy-now-button">AGREGAR COMENTARIO</button>
					</form>
					<hr>
				</div>
			</div>
		</div>
	</div>
	<!-- /product detail -->

	<!-- footer -->
	<%- include('./partials/footer.ejs')  %> 
	<!-- /footer -->

</body>	
</html>