<!DOCTYPE html>
<html lang="es">
<!-- Include Head -->
<%- include('./partials/head.ejs') %>

<body>
	<!-- Header -->
	<% if (locals.nombre!=undefined) { %>
		<%- include('./partials/headerLogueado.ejs')%>
	<%} else { %>
		<%- include('./partials/header.ejs')%>
	<% } %>
	<!-- /Header -->
	
	<!-- product detail -->
	<div class="container products-wrapper">
		<div class="d-flex align-items-center">
			<h2 class="products-title"><%=productos.nombre_producto%></h2> 
			<% if (locals.id==productos.usuarioCreadores.id) { %>
				<p class="product-detail-description">
					<a href="/editproducts/<%= productos.id %>">Editar</a>
				</p>
				<form action="/eliminar/<%= productos.id %>" method="POST" class="eliminar">
					<button class="product-detail-description eliminar" type="submit">
						ELIMINAR PRODUCTO 
					</button>
				</form>
			<%} %>
		</div>
		<div class="product-detail">
			<div class="row">
				<article class="col-12 col-lg-8 product-detail-info">
					<img src="/images/products/<%= productos.img_url %>" alt="" class="product-detail-img">
				
					<% if(locals.nombre!=undefined) { %> 
						<% const filtrado = usuariosLike.filter(usuario => usuario.id==locals.id)%>
						<% if(filtrado.length > 0){%>
							<form action="/unlike/<%=productos.id%>" method="POST" id="like-form">
								<button type="submit" class="btn btn-primary" >Unlike</button>
							</form>
							<% }else {%>
								<form action="/like/<%=productos.id%>" method="POST" id="like-form">
									<button type="submit" class="btn btn-primary" >Like</button>
								</form>
								
							<% } %> 
					<% } %> 
					<p class="product-detail-description">Likeado por <%= usuariosLike.length%> persona<%= usuariosLike.length == 1  ? "" : "s" %> </p> 
					<p class="product-detail-description"><b>Cargado por: </b><a href="/users/<%=productos.usuarioCreadores.id%>"><%=productos.usuarioCreadores.nombre_usuario%></a></p>
					<p class="product-detail-description"><%= productos.descripcion%></p>
				</article>
				<div class="col-12 col-lg-4">
					<section class="comments">

						<% if (productos.comentarios.length==0) { %>
							<p class="product-detail-description">¡Se el primero en comentar!</p> 
						<%} else { %>
							
						
						<%for (let i = 0; i < productos.comentarios.length; i++) {%>
                        
							<article>
								
									
								<!--Forma medio extraña, lo ideal sería hacer un include dentro de otro. Pero por mientras puede servir-->
								<img src="/images/users/<%=usuarios[productos.comentarios[i].usuario_id].img_usuario%>" alt="">
										<div class="data">
											<p class="user">
												<strong> <a href="/users/<%=productos.comentarios[i].usuario_id%>"><%=usuarios[productos.comentarios[i].usuario_id].nombre_usuario%></a></strong>
												<%=productos.comentarios[i].texto%>
											</p>
										</div>
									
	
	
							</article>
						<%}%>
						<% } %>
					 </section> 
				
					<form class="form agregar" action="/product/<%=productos.id%>/addcomment" method="POST">
						<input class="form-input" name="text" type="text" value="" placeholder="Agregar comentario">
						<button type="submit" class="buy-now-button">AGREGAR COMENTARIO</button>
					</form>
					<% if (locals.nombre==undefined) { %>
						<div>Solo se puede comentar si estas logueado</div>
					<%} %>
					<hr>
				</div>
			</div>
		</div>
	</div>
	<!-- /product detail -->

	<!-- footer -->
	<%- include('./partials/footer.ejs')  %> 
	<!-- /footer -->

</body>	
</html>