<!DOCTYPE html>
<html lang="es">
<!-- Include Head -->

<%- include('./partials/head.ejs') %>

<body>

	<%- include('./partials/headerLogueado.ejs') %>
	<!-- Novedades -->
	<div class="container products-wrapper">
		<div class="row">
			<div class="col-12">
				<h2 class="products-title">Editar producto</h2>
			</div>
			<!-- Show the "ultimos" products -->
			<form action="/users/editproducts/<%= productos.id %>" method="POST">



				<div class="mb-3">
					<label for="nombreProducto" class="form-label">Nombre del producto:</label>
					<input type="text" class="form-control" name="nombre_producto" value="<%=productos.nombre_producto%>">
				  </div>
				  <div class="mb-3">
					<label for="descripcion" class="form-label">Descripción:</label>
					<input type="text" class="form-control" name="descripcion" value="<%=productos.descripcion%>">
				  </div>
				  <div class="mb-3">
					<label for="marca" class="form-label">Marca:</label>
					<input type="text" class="form-control" name="marca" value="<%=productos.marca%>">
				</div>
				<div class="mb-3">
				  <label for="seccion" class="form-label">Sección:</label><br>
				  <select id="seccion" name="seccion">
					<option value="brochas" selected=<% productos.seccion=="brochas" ? true : false%> name="seccion" >Brochas</option>
					<option value="ojos" selected=<% productos.seccion=="ojos" ? true : false%>  name="seccion" >Ojos</option>
					<option value="labios" selected=<% productos.seccion=="labios" ? true : false%> name="seccion" >Labios</option>
					<option value="rostro" selected=<% productos.seccion=="rostro" ? true : false%>  name="seccion" >Rostro</option>
				  </select>
				</div>
				
<!-- 				<div class="mb-3">
					<label for="img" class="form-label">Imagen:</label><br>
					<img class="defaultImg" src=<%=productos.img_url%> >
					<input type="file" id="imagen" class="form-control" name="img_url" accept="image/*">
				</div> -->
				<button type="submit" value="Registrarse" class="btn btn-primary">Submit</button>
			  </form>
			</div>
		</div>


	<!-- footer -->
	<%- include('./partials/footer.ejs')  %> 
	<!-- /footer -->
</body>

</html>