<!DOCTYPE html>
<html lang="es">
<!-- Include Head -->

<%- include('./partials/head.ejs') %>

<body>
	
	<!-- Header -->
	<% if (locals.nombre!=undefined) { %>
		<%- include('./partials/headerLogueado.ejs')%>
	<%} else { %>
		<%- include('./partials/header.ejs')%>
	<% } %>
	<!-- /Header -->

	<!-- Novedades -->
	<div class="container products-wrapper">
		<div class="row">
			<div class="col-12">
				<h2 class="products-title">Editar mi perfil</h2>
				<% if(locals.errors){ %>
					<p class="alert" ></p> <%= errors.edit %><p>
				<% } %> 
			</div>

			<form method="POST" action="/users/profile/edit/<%= locals.id %> " enctype="multipart/form-data" >
				<div class="mb-3">
					<label for="nuevaFoto" class="form-label">Cambiar Foto:</label>
					<input type="file" class="form-control" id="nuevaFoto" name="img_usuario" value="<%=locals.img_usuario%>">
				  </div>
				<div class="mb-3">
					<label for="nuevoNombre" class="form-label">Cambiar nombre:</label>
					<input type="text" class="form-control" id="nuevoNombre" name="nombre" value="<%=locals.nombre%>">
				  </div>
				  <div class="mb-3">
					<label for="nuevoApellido" class="form-label">Cambiar apellido:</label>
					<input type="text" class="form-control" id="nuevoApellido" name="apellido" value="<%=locals.apellido%>">
				  </div>
				  <div class="mb-3">
					<label for="nuevaEdad" class="form-label">Cambiar edad:</label>
					<input type="number" class="form-control" id="nuevaEdad" name="edad" value="<%=locals.edad%>">
				  </div>
				<div class="mb-3">
				  <label for="nuevoEmail" class="form-label">Cambiar Email:</label>
				  <input type="email" class="form-control" id="nuevoEmail" aria-describedby="emailHelp" name="mail" value="<%=locals.mail%>">
				  <div id="emailHelp" class="form-text">Nunca compartiremos tu email con alguien mas.</div>
				</div>
				<div class="mb-3">
					<label for="nuevoUsuario" class="form-label">Nuevo nombre de usuario:</label>
					<input type="text" class="form-control" id="usuario" name="nombre_usuario" value="<%=locals.nombre_usuario%>">
				  </div>
				<!-- <div class="mb-3">
				  <label for="nuevaPassword" class="form-label">Nueva contrase単a:</label>
				  <input type="password" class="form-control" id="nuevaPassword" name="contrase単a">
				</div>
				<div class="mb-3">
					<label for="exampleInputPassword1" class="form-label">Repetir nueva contrase単a:</label>
					<input type="password" class="form-control" id="exampleInputPassword1" name="contrase単a">
				  </div> -->
				<button type="submit" value="Registrarse" class="btn btn-primary">Submit</button>
			  </form>
			</div>
		</div>

		


	<!-- footer -->
	<%- include('./partials/footer.ejs')  %> 
	<!-- /footer -->
</body>

</html>